NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Clerk redirect URLs - ensure users are redirected to the correct domain after auth
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=https://app.comfydeploy.com/workflows
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=https://app.comfydeploy.com/workflows
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=https://app.comfydeploy.com/workflows
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=https://app.comfydeploy.com/workflows

NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"
NEXT_PUBLIC_POSTHOG_KEY=""

NEXT_PUBLIC_CD_API_URL=http://localhost:3011

COMFYUI_FRONTEND_URL="https://comfyui.comfydeploy.com"